<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="LondonUbfEntities" connectionString="metadata=res://*/Models.Entity.LondonUbf.csdl|res://*/Models.Entity.LondonUbf.ssdl|res://*/Models.Entity.LondonUbf.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Andrew\Documents\svnbox\trunk\LondonUbfMvc\LondonUbfMvc\App_Data\LondonUbf.sqlite&quot;'" providerName="System.Data.EntityClient" />
    <add name="LondonUbfSqlite" connectionString="data source=C:\Andrew\svnbox\LondonUbfMvc\LondonUbfMvc\App_Data\LondonUbf.sqlite;" providerName="System.Data.EntityClient"/>
    <add name="LondonUbfMongo" connectionString="mongodb://localhost/LondonUbf" />
  </connectionStrings>

</configuration>
