@{
    ViewBag.Title = "Welcome Home";
}

@section Navigation
{
  <div class="nav-collapse">
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href='@Url.Action("About", "Home")'>About</a></li>
      <li><a href='@Url.Action("Index", "Messages")'>Messages</a></li>
    </ul>
  </div><!--/.nav-collapse -->
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image:url(/Content/images/sky.jpg)">
  <h1>Welcome to church!</h1>
  <p>London University Bible Fellowship.</p>
  <p><a class="btn btn-primary btn-large" href='@Url.Action("About")'>About us &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Messages</h2>
      <p>We keep all our past messages by books. Please revisit the message and enjoy the grace of God's word for you.</p>
    <p><a class="btn btn-primary" href='@Url.Action("Messages", "Home")'>Messages &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Latest messages (MS Word)</h2>
    <p>You can view the latest messages ordered by date, and you will need to log in to access these Word format messages.</p>
    <p><a class="btn" href="http://londonubf.homeip.net/file/recentmessage" target="_blank">Word Messages &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Network files</h2>
      <p>You can browse your network files. Of course, you will be asked to log in.</p>
    <p><a class="btn" href="http://londonubf.homeip.net/file/browse" target="_blank">View details &raquo;</a></p>
  </div>
  
</div>
