@{ ViewBag.Title = string.Format("What's on {0}", DateTime.Today.Year); }

<style>
    .hero-unit h1, .hero-unit p { color: Olive; }
</style>


<div class="hero-unit">
  <h1>@string.Format("What's on {0}", DateTime.Today.Year)</h1>
</div>

<div class="row">
    <div class="span12">
        <h5>Here are a few dates that might help plan things over the year.</h5>
    </div>
</div>

<div>&nbsp;</div>

<div class="row">

    <div class="span12">
    
        <table class="table table-bordered table-striped">
            <thead>
                <tr><th>Jan.</th><th>Feb.</th><th>Mar.</th><th>Apr.</th><th>Jun.</th><th>Jul.</th><th>Sep.</th><th>Nov.</th><th>Dec.</th></tr>
            </thead>
            <tbody>
                <tr><td></td><td>2 Saturday seminar</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td>6-8 Spring conference</td><td></td><td>6-8 Summer conference</td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td>8 Term ends</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>9 Term starts</td><td></td><td></td><td></td><td></td><td></td><td></td><td>9-11 Autumn conference</td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>12 Christmas service</td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>14 Term ends</td></tr>
                <tr><td></td><td></td><td>17 Lopndon Men's convention</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td>23 Term ends</td><td>23 Term starts</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td>24 New term</td><td></td><td></td></tr>
            </tbody>
        </table>

    </div>
    
</div>


<script type="text/javascript">
    $(function () {
        $('.hero-unit').css('background-image', 'url(/Content/images/sky.jpg)');
    });
</script>