<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en"> 
 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title>London UBF</title> 
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" /> 
</head> 
<body> 

	<div id="header"> 
		<div class="inside"> 
			<div id="search"> 
				<form method="get" id="sform" action="/"> 
 					<div class="searchimg"></div> 
					<input type="text" id="q" value="" name="s" size="15" /> 
				</form> 
			</div> 
			
			<h2><a href="/">London UBF</a></h2> 
			<p class="description">Truth will set you free! (<a href="http://www.biblegateway.com/passage/?search=John+8%3A32&version=NIV">Johh 8:32b</a>)</p> 
		</div> 
	</div> 
	<!-- [END] #header --> 
 
	<div id="primary" class="single-post"> 
		<div class="inside"> 
			<div class="primary"> 
				<h1>Post 1</h1> 
				<p>People use ORM like Entity Framework and NHibernate a lot and I am one of them. When I use ORM, often I ma haunted by two inner thoughts. One is &#8220;This can be done in sql so easily&#8221; and the other is &#8220;What would it be like to use object database or document database? It might be fantastic.&#8221; So I tried <a title="mongodb" href="#" onclick="return false;">mongodb</a>.</p> 
                <ul> 
                <li>mongodb-csharp</li> 
                <li>simple-mongodb</li> 
                <li>NoRM</li> 
                </ul> 
                <div>(to be continued)</div> 

                <div id="ilikeposts"></div>
            </div> 

			<hr class="hide" /> 
			<div class="secondary"> 
				<h2>Menu</h2> 
				<div class="featured"> 
					<p>Menu 1</p> 
                    <dl> 
						<dt>Published:</dt> 
						<dd>April 16, 2011 / 10:10 am</dd> 
					</dl> 
					<dl> 
						<dt>Category:</dt> 
						<dd>Uncategorized</dd> 
					</dl> 
                    <dl> 
						<dt>Tags:</dt> 
						<dd></dd> 
					</dl> 
					<dl>
                        <dt>Edit:</dt>
                        <dd>Edit this entry.</dd>
                    </dl>
                </div> 
			</div> 
			<div class="clear"></div> 
		</div> 
	</div> 
	<!-- [END] #primary --> 
	
	<hr class="hide" /> 
	<div id="secondary"> 
		<div class="inside"> 
			<div id="wpl-likebox">
                <div id="wpl-button">
                    <a href='/' class='like'><span>Like</span></a>
                </div>
                <div id="wpl-count">Be the first to like this post.</div>
            </div>	
            <div class="comment-head"> 
        		<h2>No comments yet</h2> 
		        <span class="details">
                    <a href="/">Jump to comment form</a> | 
                    <a href="#" onclick="return false;">comment rss [?]</a> | 
                    <a href="#" onclick="return false;">trackback uri</a> 
                    <a href="/" class="help">[?]</a>
                </span> 
	        </div> 
 
			<div id="respond"> 
				<h3 id="reply-title">
                    Leave a Reply 
                    <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="/" style="display:none;">Cancel reply</a>
                    </small>
                </h3> 

				<form action="/" method="post" id="commentform"> 
				    <p class="logged-in-as">Logged in as 
                        <a href="#">Andy</a>. 
                        <a href="/">Log out?</a>
                    </p>
                    <p class="comment-form-comment">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>
                    <p class="form-submit"> 
					    <input name="submit" type="submit" id="submit" value="Post Comment" /> 
                    </p> 
                    <p class="comment-subscription-form">You are the author of this post.</p>
                    <p class="comment-subscription-form">
                        <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto;" /> 
                        <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Subscribe to this site by email</label>
                    </p>
                </form> 
			</div><!-- #respond --> 
									
	    </div> 
	</div> 

    <hr class="hide" /> 
    <div id="ancillary"> 
        <div class="inside"> 
                <div class="block first"> 
                    <h2>About <small>(<a class="post-edit-link" href="#" onclick="return false;" title="Edit Page">Edit</a>)</small></h2> 
                    <div class="about-content">
                        <p>Hi, My name is Andrew Chaa and I live in northwest London. I am a .Net web programmer at Totaljobs. It is a great company with many smart people. I love .Net, but I don&#8217;t want to be locked in. I love Ruby on Rails and want to study more on it.</p> 
                    </div> 
                </div> 
 
                <div class="block"> 
                    <h2>Recently</h2> 
                    <ul class="dates"> 
                        <li><a href="/"><span class="date">04.16</span> mongodb and&nbsp;norm </a></li> 
	                    <li><a href="/"><span class="date">04.14</span> My favourite helpers for ASP.NET&nbsp;MVC </a></li> 
                    </ul> 
                </div> 
                <div class="block"> 
                    <h2>Categories</h2> 
                    <ul class="counts"> 
                        <li class="cat-item cat-item-124"><a href="/" title="">life</a></li>
                    </ul> 
                    </div> 
 
                    <div class="clear"></div> 
            </div> 
    </div> 
    <!-- [END] #ancillary --> 
 
    <hr class="hide" /> 
	<div id="footer"> 
		<div class="inside"> 
			<p class="copyright"><a href="#" onclick="return false;" rel="generator">Blog at WordPress.com</a>. | Theme: Hemingway by <a href="#" onclick="return false;" rel="designer">warpspire</a>.</p> 
			<p class="attributes"><a href="#" onclick="return false;">Entries RSS</a> <a href="#" onclick="return false;">Comments RSS</a></p> 
		</div> 
	</div> 
	<!-- [END] #footer --> 
 
 
	</body> 
</html>