/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #71726E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #811305;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a:link {
	color: #3B0700;
	text-decoration: none;
	/* font-weight:bold; */
}

a:hover, a:active {
	color: #3B0700;
	text-decoration: underline;
}

a:visited {
	color: #3B0700;
}

img {
	border: none;
	vertical-align: middle;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

/* Header */

#header {
	width: 1100px;
	margin-left: 11px;
}

/* Menu */

#menu {
	float: left;
	width: 1077px;
	height: 40px;
	background: #000000;
}

#menu ul {
	margin: 20px 0 0 30px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 0 20px;
	background: url(/Content/images/img03.gif) no-repeat right 60%;
	text-decoration: none;
	text-transform: capitalize;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/** LOGO */

#logo {
	float: left;
	width: 1077px;
	height: 100px;
	margin-left: 11px;
	background-color: #339999 
	/* background: url(/Content/images/LogoSunflower.jpg) no-repeat left top; */
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 15px 0 0 140px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	font-style: italic;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	margin: 0;
	padding: 0 0 0 140px;
	font: italic 15px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

#wrapper {
	width: 1100px;
	margin: 0 auto;
	background: url(/Content/images/whitewrapper.gif) repeat-y left top;
}

/* Page */

#page {
	width: 1100px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 845px;
	padding: 30px 30px 0 0;
}

#content1Column {
	float: right;
	width: 860px;
	padding: 30px 30px 0 0;
}

.grid {
    width: 620px;
}

.grid1Column 
{
    width: 820px;
}
/* Post */

.post {
}

.post .title {
}

.post h1 {
}

.post h2 {
}

.post .entry {
	padding-top: 10px;
}

.post .meta {
	padding: 7px 0 40px 0;
	border-top: 1px dotted #D1D1D1;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding-right: 20px;
}

.post .meta .comments {
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 150px;
	padding: 30px 0 0 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding-bottom: 20px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 2px 0 2px 0;
}

#sidebar h2 {
	height: 32px;
}

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

input[type=text] {
	/* margin-right: 5px; */
	padding: 2px;
	border: 1px solid #3A0700;
}

input[type=submit], input[type=button] 
{
	padding: 3px;
	border: 1px solid #FFFFFF;
	background: #3A0700;
	/* font-size: 14px; */
	color: #FFFFFF;
	cursor: pointer;
}

select 
{
	padding: 1px;
	border-right: solid 1px #3A0700;
	border-top: solid 1px #3A0700; 
	border-left: solid 1px #3A0700; 
	border-bottom: solid 1px #3A0700; 
}


#s {
	width: 135px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #3A0700;
}

#x {
	padding: 3px;
	border: none;
	background: #3A0700;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
	width: 1077px;
	height: 30px;
	margin: 0 auto;
	background: #999999;
}

#footer {
	margin: 0 auto;
	height: 30px;
	min-height: 64px;
	padding: 0;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

html>body #footer {
	height: auto;
}

#footer p {
}

#legal {
	clear: both;
	/* padding-top: 30px; */
	text-align: center;
	color: #000000;
}

#legal a {
	text-decoration: none;
	color: #000000;
}

.error
{
    color:Red;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}


table 
{
    display: table;
    border-color: Gray;
    border-collapse: collapse;
    margin: 20px;
    text-align: left;
}
th
{
    color: #039;
    border-bottom: 1px solid #6678B1;
    padding: 5px 4px;
}
td
{
    padding: 2px 4px;
}


/* Calendar */
/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/* modal dialog, jquery tools */
.modal {
		background-color:#fff;
		display:none;
		width:350px;
		padding:15px;
		text-align:left;
		border:2px solid #333;
	
		opacity:0.8;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
}
	
.modal h2 {
	background:url(/img/global/info.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:20px;
}